# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.*

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# SAM CLI
.aws-sam/
samconfig.toml
.env*
env*

# VS Code project files
.vscode/

# Mac OS X Finder
.DS_Store

# Grafana k6 binary and out
k6
*.html
